.caretIcon{
    font-size: larger;
}

.songTitle{
    font-weight:normal;
    font-size: large;
    background-color: bisque;
    width: 220px;
    height: 30px;
    overflow:hidden;
    display: inline-block;    
}

.songHeader{
    display: flex;
    flex-direction: row;
    background-color: blanchedalmond;
    padding: 5px;
}

.songHeader img{
    background-color:blanchedalmond;
    height: 30px;
    border-radius: 15%;
}

.eventHeader{
    background-color: bisque;
    padding: 5px;    
    font-size: normal;
    font-weight: normal;
}

.bolded{
    font-weight: bold;
}

.borderWhite{
    border: 3px solid blanchedalmond;
}
.borderBlack{
    border: 3px solid darkgrey;
}
.pageEnd{
    height: 20px;
    background-color: bisque;
}

.reverse{
    transform: rotate(45deg);
    :after {
      content: '';
    }
}