ul{
    list-style: none;
    padding:0px;
    margin:5px;
}

button{
    border-radius: 20%;
    border-color:rgb(179, 137, 86);
    height: 30px;
}
.hide {
    display: none;
}

.show {
    display: block;
}

.bordered{
    border: 2px solid chocolate;
    border-radius: 4px;
}

.bolded{
    font-weight: bold;
}

.title{
    font-weight:bold;
    background-color: bisque;
}
.artistTitle{
    font-weight:bold;
    font-size: larger;
    margin-left: 10px;  
    color:white;
    width: auto;
}

.appHeader{
    background-color: chocolate;
    display: flex;
    align-items: center;
    justify-content: Normal;
    padding: 5px; 
}
