button span{
    vertical-align: middle;
}

.icon-list {
    background: url('./icons/list.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top:3px;
    padding:0px;
}


.icon-x {
    background: url('./icons/x-lg.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    height: 16px;
    width: 16px;
    margin-top:3px;
    padding:0px;    
}

.icon-caret-right-fill {
    background: url('./icons/caret-right-fill.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    margin-top: 6px;
    height: 16px;
    width: 16px;
}

.icon-caret-down-fill {
    background: url('./icons/caret-down-fill.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    margin-top: 6px;    
    height: 16px;
    width: 16px;
}

.icon-caret-right {
    background: url('./icons/caret-right.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    margin-top: 4px;
    height: 16px;
    width: 16px;
}

.icon-caret-left {
    background: url('./icons/caret-left.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    margin-top: 4px;
    height: 16px;
    width: 16px;
}

.icon-usaFlag {
    background: url('./icons/usaFlag.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius:15%;
}

.icon-germanyFlag {
    background: url('./icons/germanyFlag.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    height: 24px;
    width: 24px;
    border-radius:15%;
}

.icon-caret-down {
    background: url('./icons/caret-down.svg');
    background-repeat: no-repeat;
    background-size: cover; 
    display: inline-block;
    margin-top: 5px;
    height: 16px;
    width: 16px;
}